<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.egood.magtek-udynamo" version="0.0.5" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MagTek uDynamo Card Reader</name>
    <description>Allow using the MagTek uDynamo Card Reader with PhoneGap apps</description>
    <author email="dev@egood.com" href="http://www.egood.com">eGood, LLC</author>
    <license>Apache 2.0</license>
    
    <keywords>magtek,card reader,credit card,reader</keywords>

    <engines>
        <engine name="cordova" version=">3.0.0" />
    </engines>

    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="com.egood.magtek-udynamo">
                <param name="ios-package" value="MagTekUDynamoPlugin" />
            </feature>
        </config-file>
        
        <js-module src="www/js/magtek_udynamo.js" name="MagTek">
            <clobbers target="cordova.plugins.MagTek" />
        </js-module>

        <header-file src="src/ios/MagTekUDynamoPlugin.h" />
        <source-file src="src/ios/MagTekUDynamoPlugin.m" />
        
        <header-file src="src/ios/MTSCRA.h" />
        <source-file src="src/ios/libMTSCRA.a" framework="true" />
        
        <framework src="libstdc++.dylib" />
        <framework src="avfoundation.framework" />
        <framework src="mediaplayer.framework"  />
        <framework src="audiotoolbox.framework" />
        <framework src="foundation.framework" />
        <framework src="externalaccessory.framework" />
    </platform>

    <platform name="android">    
        <config-file target="config.xml" parent="/*">
            <feature name="com.egood.magtek-udynamo">
                <param name="android-package" value="com.egood.cordova.plugins.magtekudynamo.MagTekUDynamoPlugin" />
            </feature>
        </config-file>
        
        <js-module src="www/js/magtek_udynamo.js" name="MagTek">
            <clobbers target="cordova.plugins.MagTek" />
        </js-module>

        <source-file src="src/android/com/egood/cordova/plugins/magtekudynamo/magtek-scra.jar" target-dir="libs" />
        <source-file src="src/android/com/egood/cordova/plugins/magtekudynamo/ksoap2-android-assembly-2.6.5-jar-with-dependencies.jar" target-dir="libs" />
        <source-file src="src/android/com/egood/cordova/plugins/magtekudynamo/MagTekUDynamoPlugin.java" target-dir="src/com/egood/cordova/plugins/magtekudynamo" />
    </platform>
</plugin>